body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddeaff;
    margin: auto;
    text-align: center;
    overflow-x: hidden;

}

.navbar {

    margin: 0;
    padding: 0;
    background-color: #777777;
    display: flex;
    justify-content: center;

}

.navbar a {

    font-size: 40px;  
    float: left;
    color: #dbffde;
    display: block;
    padding: 16px;
    padding-right: 80px;
    padding-left: 80px;
    text-decoration: none;

}

#name {

    font-weight: bold;

}
