/*
colors:
primary: #3A405A (dark blue)
border: #8EA4D2 (cobalt blue)
page: #E2EFFF (light blue)
text: #FFFFFF (white)
text (hover): #000000 (black)
link: https://coolors.co/3a405a-8ea4d2-e2efff-ffffff
screen resolution: 1920x1057px
*/

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #E2EFFF;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.navbar {

    position: fixed;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #3a405a;
    display: flex;
    justify-content: center;
    border-bottom: 2vh solid #8EA4D2;

}

.navbar a {

    font-size: 2vw;  
    float: left;
    display: block;
    padding-top: 1.6vh;
    padding-bottom: 1.6vh;
    padding-right: 4vw;
    padding-left: 4vw;
    text-decoration: none;
    color: #FFFFFF;

}

.navbar a:hover, .navbar-current-page {

    background-color: #8EA4D2;
    color: #000000;

}

.navbar-center-name {

    font-weight: bold;

}

/* colophon */

.colophon {
    
    float: right;
    text-align: right;   
    position: fixed;
    bottom: 0;
    right: 0;

}

.colophon p {

    font-size: 0.625vw;
    font-style: italic;
    color: #3A405A;
    right: 1vh;

}

.colophon-line-breaker {

    background-color: #3A405A;
    height: 0.25vh;

}

